<p> Welcome user <%= current_user.email %>,please choose an option </p>  
<table border = 1>
   <tr>
    <td> <%=link_to 'Edit profile',"/users/edit/" %> </td>
   </tr>
   <tr>
  <td> <%=link_to 'Search room', "/rooms" %> </td>
   </tr> 
</table>
<h4> Booking History </h4>
<% if current_user.Booking.all.length==0 %>
    <p> No Bookings yet! </p>
<% else %>
<table>
 <thead>
        <td> ROOM NUMBER </td>
        <td> BOOKING TIME</td>
        <td> CHECKOUT TIME</td>
        <td> STATUS </td>
        <td> ACTIVITY </td>
</thead>

<% current_user.Booking.all.each do |booking| %>
      <tr>
        <td> <%= booking.room.to_s %> </td>
        <td> <%= booking.start_time %> </td>
        <td> <%= booking.start_time + 2.hours %> </td>
        <%# if h.booking_status=='Booked' %>
            <!-- <td><%# link_to 'Drop Room', "/user/drop_room/" + session[:user_name] + "?room_number=" + h.room_number %></td> -->
        <%#end%>
      </tr>
<% end %>
<%end%>
</table>