<p> Welcome  <%= current_user.username %>!</p>

<h4> Your Booking History </h4>
<% if current_user.Booking.all.length==0 %>
    <p> No Bookings yet! </p>
<% else %>
<table>
 <thead>
        <th> ROOM NUMBER </th>
        <th> BOOKING TIME</th>
        <th> CHECKOUT TIME</th>
        <th> STATUS </th>
</thead>

<% current_user.Booking.all.each do |booking| %>
      <tr>
        <td> <%= booking.room.to_s %> </td>
        <td> <%= booking.start_time %> </td>
        <td> <%= booking.start_time + 2.hours %> </td>
        <% if booking.start_time > DateTime.now - 2.hours %>
            <td><a class="waves-effect waves-light btn" onClick="delete_booking(<%= booking.id %>)"> Delete</a></td>
        <% end %>
      </tr>
<% end %>
<%end%>
</table>

<script type="text/javascript">
function delete_booking(booking_id) {
  $.ajax({
      url: '/bookings/' + booking_id,
      type: 'DELETE',
      success: function(result) {
          // location.reload(true);
      }
  });
}
</script>
